header{
    text-align: center;
    background-color: rgb(12, 155, 199);
    margin: -8px;
    font-size: 50px;
}

body{
    background-color: rgb(38, 0, 255);
    text-align: center;
}
button{
    margin: 35px;
    padding: 45px;px;
    background-color: #0dfc2c;
}
(p){
    background-color: red:
}